* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: wheat;
}

.header__wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: brown;
}

nav {
  height: 50px;
}

.menu__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu__item {
  list-style-type: none;
  display: flex;
}

.menu__link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.menu__link:hover {
  color: wheat;
  font-size: 17px;
}

.main__wrapper {
  margin: 0 auto;
  width: 85%;
}

.main {
  background-color: blueviolet;
  height: 348px;
}

.photo {
  width: 180px;
}

.hero {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 7px;
  padding: 1px;
}

h2 {
  text-align: center;
  color: red;
  letter-spacing: 6px;
  padding: 1px;
}

.container__skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skill__bar {
  background-color: white;
  height: 200px;
  margin: -250px -25px;
}

.skill {
  color: white;
}

.title__skill {
  margin-left: 50px;
}

.html__skill {
  height: 65%;
  background-color: red;
}

.css__skill {
  height: 50%;
  background-color: maroon;
}

.js__skill {
  height: 25%;
  background-color: blue;
}

.git__skill {
  height: 50%;
  background-color: green;
}

.title__skill {
  position: relative;
  left: 100px;
  bottom: 35px;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
}

.container__summary {
  background-color: gray;
  position: relative;
  bottom: 25px;
  width: 555px;
  padding: 5px;
}

.description {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

